/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --hover-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

/*  HEADER */

header {
  display: flex;
  justify-content: space-between;
}

header h1 img {
  width: 61px;
  height: 19px;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

header nav ul li {
  border-top: 2px solid transparent;
  padding-top: 10px;
  cursor: pointer;
}

header nav ul li:hover {
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
}

header nav ul {
  display: flex;
  justify-content: space-between;
}

/* Section filtre */

.input_search {
  display: flex;
  align-items: center;
}

.input_search button {
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 13px;
  font-weight: bold;
  color: white;
  background-color: var(--main-color);
}

.icon_location {
  background-color: var(--main-bg-color);
  padding: 13px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.icon_location i {
  color: black;
}

.input {
  font-weight: bold;
  padding: 13px;
  border: none;
}

.filtres {
  display: flex;
  align-items: center;
}

.filtres p {
  margin-right: 20px;
  font-weight: bold;
}

.filtres ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.filtres ul li {
  border: 3px solid var(--main-bg-color);
  padding: 10px 12px;
  border-radius: 20px;
  cursor: pointer;
}

.filtres ul li:hover {
  background-color: var(--hover-color);
}

.information {
  display: flex;
  align-items: center;
}

.information span:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid var(--main-bg-color);
}

.information span i {
  font-size: 10px;
}

@media screen and (max-width: 768px) {
  .main-container {
    padding: 0px;
  }
  h1 {
    text-align: center;
  }
  header {
    display: flex;
    flex-direction: column;
  }

  header nav ul {
    margin-top: 30px;
  }

  header nav ul li {
    border-top: none;
    width: 100%;
    padding-top: 0px;
    border-bottom: 2px solid transparent;
    text-align: center;
    padding-bottom: 10px;
  }

  header nav ul li:hover {
    border-top: none;
    border-bottom: 2px solid var(--main-color);
    padding-top: 0px;
  }
}
